ul#List li.list{ color: black!important; }

#List li.list{ color: yellow!important; }

ul li.list{ color: pink!important; }

li.list{ color: green!important;}

.list{ color: gray!important; }

#List li{ color: orange; }


