@charset "utf-8";

/* Base ----------------------- */
body {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

a {
    text-decoration: none;
}

/* Layout ------------------------------ */
.header {
    width: 738px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    background-color: #ddd;
    border-radius: 3px;
}

.navi {}

/* Modules ------------------------------------- */
.navi__ls {
    padding: 0;
    text-align: center;
}

.navi__item {
    display: inline-block;
}

.navi__item a {
    display: block;
    width: 150px;
    color: #fff;
    line-height: 2;
    font-size: 15px;
    background-color: #1b9af7;
    border-radius: 3px;
    box-shadow: 0 7px #0880d7;
}

.navi__item a:hover::after{
    content: attr(title);
    text-transform: uppercase;
}

.navi__item a:hover span {
    display: none;
}