@charset "utf-8";

html, body {
    height: 100%;
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: Example ;
    animation-duration: 4s;
    /* animation-iteration-count: 2; 預設只有跑一次 */
    animation-iteration-count: infinite;/* 一直跑 */
    /* animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); */
    animation-direction: alternate;
}

div:hover{
    animation-play-state: paused;
}

@keyframes Example{
    0%{ background-color: red;top:0;left: 0;}
    25%{ background-color: black;top:0;left: 50%;}
    50%{ background-color: green;top:50%;left: 50%;}
    75%{ background-color: orange;top:50%;left: 0;}
    100%{ background-color: red;top:0;left: 0;}
    
}


