@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

.base{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.base::after{
    content: "";
    display: block;
    clear: none;
}

.base-text,.base-photo{
    width: 50%;
    float: left;
    padding: 15px;
}

.base-text{
    background-color: pink;
}
.base-photo{
    background-color: cadetblue;
}

.flip .base-text{
    float: right;
}