body { background-color:#EEE; font-family:Arial, Helvetica, sans-serif;}
.text-center { text-align: center;}
.title { color: #666; text-shadow: 1px 1px #fff;}
.wrap { width:800px; border:solid 1px #DDD; background-color:#FFF; transition:all .3s ease; margin:1em auto;}
.wrap:hover { box-shadow:0 0 10px #DDD; border-color:#CCC;}
.tab__ls { text-align:center;}
.tab__item { display:inline-block; text-indent:-9999px; border:solid 1px #DDD; width:30px; height:30px; cursor: pointer;}
.tab__item:hover { border-color: #999;}

.tab__item--light { background-color:#FFF;}
.tab__item--warning { background-color:#FF0;}
.tab__item--danger { background-color:#F00;}
.tab__item--success { background-color:#0C0;}
.tab__item--peace { background-color:#69F;}