@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 1200px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align {
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    background-color: #333;
}

.btn__inner {
    position: relative;
    top: 50vh;
    margin-top: -150px;
}

.btn {
    position: relative;
    display: inline-block;
    margin: 30px;
    width: 240px;
    height: 240px;
    padding-top: 75px;
    color: #fff;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    border: solid 20px #333;
    border-radius: 100%;
    text-shadow: -1px -1px #000;
}

.btn span {
    font-size: 12px;
    letter-spacing: normal;
    text-shadow: none;
}

.btn::before,
.btn::after {
    content: "";
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    opacity: .05;
}

.btn::before {
    left: 17%;
    top: 7%;
    width: 51%;
    height: 40%;
}

.btn::after {
    left: 10%;
    bottom: 0%;
    width: 81%;
    height: 70%;
}

.btn-danger {
    background: radial-gradient(#B20000, #490404);
    box-shadow: -5px -10px 20px rgba(0,0,0,.8) inset, 0 0 50px #900;
}

.btn-success {
    background: radial-gradient(#28a745, #0c3e17);
    box-shadow: -5px -10px 20px rgba(0,0,0,.8) inset, 0 0 50px #080;
}

.btn-peace {
    background: radial-gradient(#0F7EFD, #033F7C);
    box-shadow: -5px -10px 20px rgba(0,0,0,.8) inset, 0 0 50px #06f;
}

.btn-danger:hover {
    box-shadow: -5px -10px 20px rgba(0,0,0,.8) inset, 0 0 50px #d00;
}

.btn-success:hover {
    box-shadow: -5px -10px 20px rgba(0,0,0,.8) inset, 0 0 50px #0b0;
}

.btn-peace:hover {
    box-shadow: -5px -10px 20px rgba(0,0,0,.8) inset, 0 0 50px #007eff;
}