@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

.clearFix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 1200px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.gutter {
    padding: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.map-resp {
    width: 100%;
    height: 10vw;
    display: block;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, "微軟正黑體";
    background-color: #eee;
}

.card .gutter {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.card__ls {
    list-style-type: none;
    padding: 0;
}
.card__item {
    float: left;
    width: 50%;
    padding: 15px;
}

.card__dl {
    letter-spacing: -10px;
    margin: 0;
}

.card__dt,
.card__dd {
    display: inline-block;
    margin: 0;
    padding: 0 15px;
    line-height: 2.5;
    letter-spacing: normal;
    vertical-align: middle;
}

.card__dt {
    width: 20%;
    text-align: right;
    background-color: #eee;
}

.card__dd {
    width: 80%;
    background-color: #f6f6f6;
}

