ul.list li.text1{ color: #0f6;}

.list li.text1{ color: #CCC;}

.list .text1{ color: yellowgreen;}

li.text1{ color: yellow;}/*後面覆蓋前面*/

ul .text1{ color: orange;}/*後面覆蓋前面*/

.text1{ color: black;}

ul li{ color: blue;}

ul{	color: red;}

li{	color: green;}

