@charset "utf-8";
/* CSS Document */
body {
    font-family: Arial, Helvetica, sans-serif, '微軟正黑體';
    color:#333;
    background-color: #ddd;
}
h1, h2, h3, h4, h5, h6, p, ul, li{ margin:0; padding: 0;}
ul, ol{ list-style: none;}
.clearfix:after{ content: ''; display: block; clear: both;}
.container { width: 700px;}
.mx-auto { margin-left: auto; margin-right: auto;}

h1 { text-align: center; color: #fff; text-shadow: 1px 1px #333; margin: 1em; font-size: 3em;}

.tab { position:relative;}
.tab__ls { margin-bottom: -1px;}
.tab__item {
    float: left;
    padding: 0 2em;
    margin-right: -1px;
    line-height: 2.5;
    color:#FFF;
    background-color:#CCC;
    border: solid 1px #999;
    cursor: pointer;
}

.tab__content {
    padding: 1em;
    background-color: #fff;
    border: solid 1px #999;
}

.tab__title { padding-bottom: 5px;}
.tab__desc { line-height: 1.6;}
.tab__content a { color:#059; text-decoration: none;}
.tab__content a:hover { text-decoration: underline;}

.js-tab__item {
    color:#059;
    background-color:#FFF;
    border-bottom-color: #fff;
}

.js-hidden {
    display: none;
}