@charset "utf-8";

body {
    background-color: #000;
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

.navi {
    padding-left: 0;
    text-align: center;
}

.navi li {
    display: inline-block;
}

.navi a {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-bottom: solid 2px;
    border-radius: 5px 5px 0 0;
}

.navi li a:hover {
    border-bottom-color: #fff;
}

/*
    紅色: #d32f2f
    藍色: #0288d1
    綠色: #689f38
    深藍: #303f9f
    紫色: #7b1fa2
*/

.navi a.line-color1 {
    border-bottom-color: #d32f2f;
}

.navi a.line-color2 {
    border-bottom-color: #0288d1;
}

.navi a.line-color3 {
    border-bottom-color: #689f38;
}

.navi a.line-color4 {
    border-bottom-color: #303f9f;
}

.navi a.line-color5 {
    border-bottom-color: #7b1fa2;
}

.article {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.article p {
    line-height: 1.7;
    color: #999;
}

