@charset "utf-8";
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, "微軟正黑體";
    background-color: #f6f6f6;
}

.container {
    width: 1200px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.clearFix::after {
    content: "";
    display: block;
    clear: both;
}

.media-resp,
.img-resp {
    width: 100%;
    display: block;
}

.media-resp {
    height: 25vw;
}

.img-resp {
    height: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.content,
.sidebar {
    float: left;
    padding: 15px;
}
.content {
    width: 65%;
}

.sidebar {
    width: 35%;
}

.post__title {
    font-size: 25px;
}

.widget {

}

.widget__ls {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.widget__item + .widget__item {
    margin-top: 17px;
}

.widget__head, .widget__body {
    float: left;
}

.widget__head {
    width: 30%;
}

.widget__body {
    width: 70%;
    padding-left: 15px;
}

.widget__title {
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget__src,
.post__view {
    display: block;
    color: #999;
    font-size: 13px;
}