@charset "utf-8";

.wrap {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: #ccc;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

a:link {
    color: red;
}

a:visited {
    color: #000;
}

a:hover {
    color: green;
    text-decoration: underline;
}

a:active {
    color: orange;
}