@charset "utf-8";

*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #e6e6e6;
	font-family: Arial, "微軟正黑體";
	font-size: 15px;
}

a{
	display: block;
	width: 500px;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	background-image: url(../images/bg.png);
}

a:link {
	color: #060;
	background-position: 0 0;
}

a:visited {
	color: #fff;
	background-position: 0 -50px;
}

a:hover {
	background-position: 0 -100px;
}

a:active {
	background-position: 0 -150px;
}