@charset "utf-8";

body{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.box{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.box_1{
    transform: all .3s ease-in;
    -webkit-transform: all .3s ease-in;
    -moz-transform: all .3s ease-in;
    -ms-transform: all .3s ease-in;
    -o-transform: all .3s ease-in;
}



.animation{
    animation: example 4s;
    -webkit-animation: example 4s;
}

@keyframes example{}

@-webkit-keyframes example{}