@charset "utf-8";

/* Helper ----------------- */
.img-resp{
    max-width: 100%;
    height: auto;
    display: block;
}

.clearFix::after{
    content: "";
    display: block;
    clear: both;
}

.container{
    width: 1200px;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.js-text-danger{
    color:red;
}   

.js-text-success{
    color:green
}

.js-text-primary{
    color:blue;
}

.js-text-cancel {
    color: gray;
}
/* Base ----------------- */
h2,ul,li,ul{
    margin:0;
    padding: 0;
}

ul{
    list-style-type: none;
}

body{
    font-family: Arial, Helvetica,"微軟正黑體", sans-serif;
    font-size: 15px;
}

/* .wrapper{
    position: relative;
} */

/* Module --------------- */

.glbl__item--de .glbl__title{
    background-position-y:0 ;
}

.glbl__item--fr .glbl__title{
    background-position-y:-40px ;
}

.glbl__item--jp .glbl__title{
    background-position-y:-80px ;
}
.glbl__item--kr .glbl__title{
    background-position-y:-120px ;
}
.glbl__item--tw .glbl__title{
    background-position-y:-160px ;
}

.glbl__item--us .glbl__title{
    background-position-y:-200px ;
}
.glbl__item--cn .glbl__title{
    background-position-y:-240px ;
}
.glbl__item--uk .glbl__title{
    background-position-y:-280px ;
}


.title__inner{
    text-align: center;
    margin-bottom: 60px;
}

.title{
    font-size: 50px;
    letter-spacing: 20px;
}

.glbl{
    position: relative;
}

.glbl__item{
    position: absolute;
    top:0;
    left: 200px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    border: solid 1px #ddd;

}

.glbl__item--de
{
    top:-19px;
    left: 564px;
}

.glbl__item--us
{
    top:160px;
    left: 0;
}

.glbl__item--us
{
    top:160px;
    left: 0;
}

.glbl__item--us
{
    top:160px;
    left: 0;
}

.glbl__item--us
{
    top:160px;
    left: 0;
}

.glbl__item--us
{
    top:160px;
    left: 0;
}


.glbl__head,.glbl__body{
    margin: 10px;
}


.glbl__title{
    float: left;
    width: 60px;
    height: 40px;
    background-image: url("../images/flag.png");
    font-size: 0;
}
.glbl__status{
    float: right;
    text-align: right;
}


.glbl__date{
    margin-bottom: 5px;
    font-size: 14px;
    font-style: italic;
    color: #666;
}
.glbl__result{
    margin-top: 5px;
}

.glbl__dt{
    font-size: 18px;
    font-weight: 600;
    color:#666;
    line-height: 1;
}
.glbl__dt~ .glbl__dt{
    padding-top: 7px;
    margin-top: 5px;
    border-top: solid 1px #ddd;
}

.glbl__dd{
    margin: 0px;
    font-weight: 600;
}

.glbl__price{
    font-size: 16px;
}

.glbl__ing{
    font-size: 12px;
    font-style: italic;
}
