
body{
	font-family: Arial, "微軟正黑體";
	font-size: 15px;
	background-color: #e6e6e6;
}

a{
	display: block;
	width: 500px;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
}

a:link{
	color: #fff;
	background-color: #4c69ba;
}

a:visited{
	color: #A0B9FF;
	background-color: #027;
}

a:hover{
	background-color: #3b55a0;
}

a:active{
	color: #ccc;
}