a{ color: #F1C40F;}
.sub-menu,
.current-menu-item a,
.navi .menu > li > a:hover,
.sub-menu{ background-color: #ddb40f;}

.branding-wrap,
.sub-menu a:hover,
.tab-bi .is-tab-active,
.tab-bi .is-tab-active:hover{ background-color: #F1C40F;}

.sub-menu{ border: solid 1px #ba980e;}