@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.dom__ls {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    list-style-type: none;
}

.dom__ls::after {
    content: "";
    display: block;
    clear: both;
}

.dom__item {
    float: left;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: solid 1px #ccc;
    border-radius: 50%;
}

.dom__item:nth-last-child(n+3) {
    background-color: #ccc;
}