@charset "utf-8";

body {
    background-color: #111;
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

.article {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.article p {
    line-height: 1.7;
    color: #ccc;
}

.navi{
    padding-left:0 ;
    text-align: center;
    letter-spacing: -10px;
    /* font-size: 0; */
    /* background-color: antiquewhite; */
}

.navi li{
    display: inline-block;
}
.navi a{
    /* font-size: 16px; */
    letter-spacing: normal;
    color: #fff;
    display: inline-block;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #333;
    text-decoration: none;
    border-bottom: solid 2px;
    /* border-radius: 5px 5px 0 0; */
}


/*
    紅色: #d32f2f
    藍色: #0288d1
    綠色: #689f38
    深藍: #303f9f
    紫色: #7b1fa2
*/
a.line_color1{
    border-bottom-color: #d32f2f;
}
a.line_color2{
    border-bottom-color: #0288d1;
}
a.line_color3{
    border-bottom-color: #689f38;
}
a.line_color4{
    border-bottom-color: #303f9f;
}
a.line_color5{
    border-bottom-color: #7b1fa2;
}

.article{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.article p{
    line-height: 1.7;
    color: #999;
}

.navi li a:hover {
    border-bottom-color: #fff;
}
