@charset "utf-8";
*,*::before,*::after{
    box-sizing: border-box;

}

body{
    font-size: 20px;
    margin: 0;
    font-family: Arial, Helvetica,"微軟正黑體", sans-serif;
}

/*helper----------------*/
.img-resp{
    width: 100%;
    height: auto;
    
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.continer{
    /* width: 1200px; */
}
/* Module--------------- */

.flag{
    position: relative;
}
.flag__ls{
    padding:0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    top:20px;
    left: 50px;
    background-color:rgba(255, 255, 255, .2);
}

.flag___item{
    margin: 10px 30px;
    font-size: 2em;
    color: #fff;
}

.flag___item::before{
    content: "";
    display: inline-block;
    width: 60px;
    height: 40px;
    margin-right: 10px;
    background-image: url("../images/flag.png");
    vertical-align: middle;
}

.flag___item--fr::before{
    background-position: 0 -40px;
}

.flag___item--de::before{background-position: 0 0;}
.flag___item--jp::before{background-position: 0 -80px;}
.flag___item--kr::before{background-position: 0 -120px;}
.flag___item--tw::before{background-position: 0 -160px;}
.flag___item--us::before{background-position: 0 -200px;}
.flag___item--cn::before{background-position: 0 -240px;}
.flag___item--uk::before{background-position: 0 -280px;}