.wrap{
    width: 700px; height: 560px; margin-left: auto; margin-right: auto;
    position: relative;
}

.item{
    position: absolute;
    display: flex;
}

.item1{ top: 306px; left: 155px;}
.item2{ top: 315px; left: 240px;}
.item3{ top: 250px; left: 300px;}
.item4{ top: 180px; left: 300px;}
.item5{ top: 275px; left: 378px;}
.item6{ top: 180px; left: 480px;}
.item7{ top: 155px; left: 555px;}

.item > img{
    height: 22px; margin-right: 5px;
    cursor: pointer;
}

.item span img{
    position: relative; z-index: 1;
    border: solid 4px #000;
}