@charset "utf-8";

.tips {
    position: relative;
    padding: 15px;
    width: 300px;
    background-color: #ccc;
    border-radius: 5px 0 5px 5px;
}

.tips-left::before {
    content: "";
position: absolute;
    border: solid 50px green;
    border-top-color: yellow;
}

/* .tips-left::after {
    content: "";
    border: solid 50px green;
    border-top-color: yellow;
} */