@charset "UTF-8";

.box {
	background-color: yellowgreen;
	width: 500px;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
}

.box::before {
	content: "我是 before";
	background-color: pink;
	display: block;
}

.box::after {
	content: "我是 after";
	background-color: wheat;
	display: block;
}
