@charset "utf-8";
body {
    background-color: #ddd;
    font-family: '微軟正黑體', Arial, Helvetica, sans-serif;
}

.post {
    background-color: #fff;
    width: 700px;
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post__head {
    background-color: yellowgreen;
}

.post__body {
    background-color: aquamarine;
}

.post__foot {
    background-color: pink;
}