@charset "UTF-8";

.img-resp{
    max-width: 100%;
    height: auto;
    display: block;
}

.wrap{
    position: relative;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.item5{
    top:238px;
    left: 380px;
}

.item:hover .img__inner{
    display: block;
}
.item4{
    top:180px;
    left: 250px;
}

.img__inner{
    /* 預設值 static */
    position: relative;
    z-index: 2;
    display: none;
}

.item{
    position: absolute;

}