@charset "utf-8";
.clearFix::after {
    content: "";
    display: block;
    clear: both;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    background-color: #eee;
}

p {
    line-height: 1.6;
}

.tab {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.tab__ls {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tab__item {
    float: left;
    width: 20%;
    text-align: center;
    line-height: 2.5;
    color: #999;
    background-color: #eee;
    border: solid 1px #ccc;
    border-width: 1px 0;
    cursor: pointer;
}

.tab__item:hover {
    color: #000;
}

.tab__item:first-child {
    border-left: solid 1px #ccc;
}

.tab__item:last-child {
    border-right: solid 1px #ccc;
}

.tab__item--active {
    position: relative;
    color: #000;
    background-color: #fff;
    border-bottom-color: #fff;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}

.tab__item--active::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: red;
}

.tab__content {
    background-color: #fff;
    border: solid 1px #ccc;
    border-top-color: transparent;
}

.tab__desc {
    margin: 15px;
}