@charset "UTF-8";

.box{
    background-color: antiquewhite;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.box::before{
    content: "我是前面";
    background-color: aquamarine;
    /* width: 200px; */
    display: block;
}

.box::after{
    content: "我是後面";
    background-color: cadetblue;
    display: block;
}