@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.img-resp {
    width: 25%;
    display: block;
    padding: 10px;
    margin: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
}

.img-resp[alt] {
    border-color: #000;
}

.img__inner {
    display: flex;
    justify-content: center;
}