@charset "utf-8";

/* padding 練習 -----------------------*/
h1 {
    padding: 5px;
}

h1 {
    padding: 7px 15px;
}

h1 {
    padding: 1em 1em 5em;
}

h1 {
    padding: 5% 20% 10% 15%;
}

/* margin 練習 -----------------------*/
h2 {
    margin: 5px;
}

h2 {
    margin: 7px 15px;
}

h2 {
    margin: 1em 1em 5em;
}

h2 {
    margin: 5% 20% 10% 15%;
}

/* background 練習 -----------------------*/
h3 {
    background: #ccc url("../images/bg.jpg") no-repeat 20px 40px fixed;
}

/* list 練習 -----------------------*/
ul {
    list-style: square outside url("../images/list.png");
}

/* 文字練習 -----------------------*/
body {
    font: italic bold .8em/1.2 Arial, sans-serif;
}

/* boder 練習 -----------------------*/
.box {
    border: 7px solid #ccc;
}

.box {
    border-width: 1px;
}

.box {
    border-width: 1px 5px;
}

.box {
    border-width: 1px 5px 10px;
}

.box {
    border-width: 1px 15px 10px 5px;
}

/* 其他練習 -----------------------*/
p {
    color: #f06;
    padding: 0;
    margin: 0;
}