@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

.flip .base-text {
    float: right;
}

.flip .base-photo {
    float: left;
}

.base {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.base::after {
    content: "";
    display: block;
    clear: both;
}

.base-text,
.base-photo {
    width: 50%;
    padding: 15px;
}

.base-text {
    float: left;
    background-color: yellowgreen;
}

.base-photo {
    float: right;
    background-color: pink;
}