@charset "utf-8";
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.brand {
    overflow: hidden;
    width: 985px;
    margin: 15px auto;
    background-color: #fff;
    border-radius: 5px;
}

.brand__title {
    padding-left: 10px;
    margin: 15px;
    border-left: solid 5px #ccc;
}

.brand__ls {
    padding: 0;
    margin: 15px;
    list-style-type: none;
}

.brand__ls:after {
    content: '';
    display: block;
    clear: both;
}

.brand__item {
    float: left;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 9px;
    border: solid 1px #ddd;
    background-color: #fff;
}

.brand__item:hover {
    background-color: #eee;
}

.brand__img {
    display: block;
}

.brand__item--active, .brand__item--active:hover {
    background-color: bisque;
}