html,body,div,h1,h2,h3,h4,h5,h6,p,ul,li,div,header,article{  margin: 0;  padding: 0;}
ul,ol { list-style-type: none;}
*,*:before,*:after { box-sizing: border-box;}
body { font-family: Arial, Helvetica, "儷黑 Pro", "微軟正黑體", "新細明體", sans-serif; font-size: 15px;}

.navi { z-index: 1; background-color: #000; text-align: center; position: fixed; top: 0; left: 0; width: 100%;}
.navi__ls {}
.navi__item{ display: inline-block; margin: 0 1em; color: #fff; line-height: 3; text-decoration: none;}
.navi__item:hover {}

.base { height: 100vh; padding: 10em;}

.base--pdf { background-color: #333;}
.base--pr { background-color: #DD1F8E;}
.base--ps { background-color: #00A7E2;}
.base--dw { background-color: #84C922;}
.base--ai { background-color: #EE9A10;}
.base--ae { background-color: #620294;}

.base__head { margin-bottom: 1rem;}
.base__title { color: #fff; font-size: 1.5em;}


.base__desc{ color: #fff; font-size: 1em; line-height: 1.7; margin-bottom: 1em;}
