@charset "utf-8";

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	width: 1200px;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.img-resp {
	display: block;
	width: 100%;
	height: auto;
}

body {
	margin: 0;
}

.flag {
	position: relative;
}

.flag__ls {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 30px;
	left: 50px;
	list-style-type: none;
	font-family: "微軟正黑體";
	background-color: rgba(255,255,255,.2);
}

.flag__item {
	margin: 20px 30px;
	color: #fff;
	font-size: 32px;
}

.flag__item::before{
	content: "";
	display: inline-block;
	margin-right: 10px;
	width: 60px;
	height: 40px;
	vertical-align: middle;
	background-image: url("../images/flag.png");
}

.flag__item--de::before{ background-position: 0 0;}
.flag__item--fr::before{ background-position: 0 -40px;}
.flag__item--jp::before{ background-position: 0 -80px;}
.flag__item--kr::before{ background-position: 0 -120px;}
.flag__item--tw::before{ background-position: 0 -160px;}
.flag__item--us::before{ background-position: 0 -200px;}
.flag__item--cn::before{ background-position: 0 -240px;}
.flag__item--uk::before{ background-position: 0 -280px;}
