@charset "utf-8";
/* Helper -------------------------------- */

.clearFix:after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 1200px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* Base ----------------------------------------- */

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    font-size: 15px;
    background-color: #eee;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

/* Layout -------------------------------------------- */

.content, .sidebar {
    float: left;
    padding: 15px;
}

.content {
    width: 65%;
}

.sidebar {
    width: 35%;
}

.sidebar .card+.card {
    margin-top: 15px;
}

/* ----------Module------------------------ */
.img-resp{
    display: block;
    max-width: 100%;
    height: auto;
}
.btn{
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    padding: 0 10px;
    line-height: 2;
    border: solid 1px;
}
.btn-info{
    /* #5bc0de */
    background-color: #0093b8;
    border-color: #0093b8;
}
.btn-info:hover{
    background-color: #064d5f;
}
.img-inner{}

.btn-outline{
    background: none;
}
.btn-info.btn-outline{
    color: #0093b8;
}
/* 1 */
.card{
    border:solid 1px #ddd;
    background-color: #fff;
}
.card-head,
.card-body{
    padding: 1em;
}

.card-title{
    margin: 0;
    margin-bottom: .75em;
    line-height: 1.5;
    font-size: 1.4em;    
}

.card-desc{
    margin: 0;
    font-size: 14px;
    color:#aaa;
    line-height: 1.5;
    margin-bottom: 1em;
}

/* 2 */
.card-rounded{
    border-radius: 5px;
    overflow: hidden;
}
/* 6 */
.card-head{
    background-color: #efefef;
    border-bottom: solid 1px #ddd;
}
.card-head-title{
    margin: 0;
    font-size: 1.2em;
    line-height: 1;
}
/* 7 */
.card-overlay{
    position: relative;
}
.card-overlay .card-body{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}
.card-overlay .card-title,
.card-overlay  .card-desc{
    color: #fff;
}
/* 8 */
.card-hover .card-body{
    display: none;
}
.card-hover:hover .card-body{
    display: block;
}
/* 9 */
.card-ani .card-body{
    top: -100%;
    transition: top .5s ease;
}
.card-ani:hover .card-body{
    top: 0;

}