@charset "UTF-8";
/*=================================
CSS3 & Javascript - Button UI
February 2013
By : Away
http://www.dfuns.idv.tw
https://www.wdh2o.idv.tw
=================================*/

* {
    outline: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body,
ul {
    padding: 0;
    margin:0;
}

body{
    font: 20px Verdana, Geneva, sans-serif;
    color:#999;
	background-color:#EEE;
    background: radial-gradient(#F6F6F6, #CCC);
}

a {
    text-decoration: none;
}

.header,
.header__title a,
.content__desc,
.navi__item a,
.footer {
    text-shadow: 1px 1px #FFF;
}

.header,
.content,
.navi,
.footer {
    text-align: center;
    padding: 2em 0;
}

.header {
    background-color:#EEE;
    border-bottom: solid 1px #FFF;
    box-shadow: 0 0 10px #CCC inset;
}

.header__title {
    margin: 0;
    font-size: 5em;
    font-weight: 900;
    line-height: 2em;
}

.header__title a {
    color:#666;   
}

.header__reg {
    font-size: .3em;
    color:#999;
}

.content__desc {
    font-size: .8em;
    line-height: 1.8;
}

.navi__ls {
    letter-spacing: -15px;
}

.navi__item {
    position: relative;
    display: inline-block;
    letter-spacing: normal;
}

.navi__item::after{
    position: relative;
    content: "";
    display: block;
    margin-left: -1px;
    margin-top: -1px;
    height: 15px;
	background-color:#DDD;
    background: linear-gradient(#C6C6C6, #D6D6D6);
    border: solid 1px #B6B6B6;
}

.navi__item a{
    display: block;
    margin-left: -1px;
    padding: 0 2.5em;
    color:#999;
    font-size: 20px;
    line-height: 40px;
    border:solid 1px #CCC;
    background-color:#FFF;
    transition: all .3s ease;
}

.navi__item a:hover {
    color:#09C;
}

.navi__item a::after {
    content: attr(title);
    position: absolute;
    left: 0;
    top: 1px;
    width: 99.5%;
    line-height: 38px;
    background-color:#EEE;
    border: solid 1px #fff;
    background: linear-gradient(#F6F6F6, #DDD);
}

.js-navi__item::after,
.js-navi__item a::after {
    display: none;
}

.js-navi__item a {
    position: relative;
    top: 15px;
    color:#333;
    border: solid 1px transparent;
    border-color:#aaa #fff #fff #aaa;
    background-color:#ddd;
    transition: none;
    animation: textAni 1.5s infinite;
    box-shadow: 0 0 5px #999 inset;
}

@keyframes textAni {
	from { color: #000;}
	50% { color: #777;}
	to { color: #000;}
}