@charset "utf-8";

body {
	font-family: Arial, Helvetica, "儷黑 Pro", "微軟正黑體", "新細明體", sans-serif;
}

a {
	text-decoration: none;
}

.header {
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 738px;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
	border-radius: 3px;
	background-color: #ddd;
}

.navi__ls {
	padding: 0;
	text-align: center;
}

.navi__item {
	display: inline-block;
}

.navi__item a {
	display: block;
	width: 150px;
	color: #fff;
	line-height: 2;
	font-size: 15px;
	background-color: #1B9AF7;
	box-shadow: 0 7px 0 #0880d7;
	border-radius: 3px;
}

.navi__item a:hover {
	background-color: #4cb0f9;
}

.navi__item a:hover::after{
	content: attr(title);
	text-transform: uppercase;
}

.navi__item a:hover span{
	display: none;
}