@charset "utf-8";

.header {
    background-color: pink;
    width: 800px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/menu_bg.png);
    border: solid 1px #ccc;

}

.title {
    float: left;
    /* background-color: rosybrown; */
    text-indent: -9999px;
    margin: 0;
}

.navi {
    /* background-color: seagreen; */
    float: right;
    padding-left: 0;
    margin-top: 5px;
    margin-right: 150px;
    list-style-type: none;
}

.navi li {
    float: left;
    margin-left: 10px;
}

.navi a {
    display: block;
    width: 100px;
    height: 70px;
    text-indent: -9999px;
    background-image: url('../images/menu_link.png');
}

.title a {
    display: block;
    width: 200px;
    height: 80px;
    /* background: pink; */
}

.pos1 {
    background-position: 0 0;
}

.pos2 {
    background-position: -100px 0;
}

.pos3 {
    background-position: -200px 0;
}

.pos4 {
    background-position: -300px 0;
}

.pos1:hover {
    background-position: 0 -70px;
}

.pos2:hover {
    background-position: -100px -70px;
}

.pos3:hover {
    background-position: -200px -70px;
}

.pos4:hover {
    background-position: -300px -70px;
}