@charset "utf-8";
.mxAuto {
	margin-left: auto;
	margin-right: auto;
}

.container {
	width: 1000px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
	background-color: #e6e6e6;
}

/* Module Pagination Base ------------------------------- */

.pagination {
	margin-top: 15px;
}

.pagination-item {
	display: inline-block;
	padding: 7px 10px;
}

.pagination-item:hover {
	text-decoration: none;
}

/* Module Card Base --------------------------------- */

.card-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.card-item {
	background-color: #fff;
	padding: 15px;
}

.card-item::after {
	content: '';
	display: block;
	clear: both;
}

.card-item {
	margin-top: 15px;
}

.card-img {
	float: left;
	margin-right: 15px;
}

.card-title {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-title a {
	color: yellowgreen;
}

.card-desc {
	margin-top: 15px;
	margin-bottom: 0;
	line-height: 1.5;
	color: #999;
}

/* Card Module Type1 -------------------------------------- */

.card-stack .pagination-item {
	color: #000;
	background-color: #ccc;
}

.card-stack .pagination-item:hover {
	background-color: #aaa;
}

/* Card Module Type2 -------------------------------------- */

.card-matrix .card-list::after {
	content: "";
	display: block;
	clear: both;
}

.card-matrix .card-item {
	float: left;
	width: 28.5%;
	margin-right: 15px;
}

.card-matrix .card-img {
	float: none;
	width: 100%;
	margin-right: 0;
}

.card-matrix .pagination {
	text-align: center;
}

.card-matrix .pagination-item {
	color: #fff;
	background-color: #999;
	border-radius: 3px;
}

.card-matrix .pagination-item:hover {
	background-color: #000;
}