@charset "utf-8";

* {
    box-sizing: border-box;
}

body, button, input{
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
}

.login {
    width: 25%;
    margin: 15px;
    background-color: #eee;
    border: solid 1px #ddd;
}

.login__body {
    margin-bottom: 30px;
}

.login__row {
    margin: 15px;
}

.login__label {
    display: block;
    margin-bottom: 5px;
    color: #999;
}

.login__iptText {
    display: block;
    padding: 7px 10px;
    width: 100%;
    border: none;
    border-radius: 3px;
}

.login .btn {
    width: 100%;
    font-size: 18px;
}

.btn {
    border: none;
}

.btn-primary {
    padding: 7px 10px;
    background-color: #0288d1;
    color: #fff;
    border-radius: 3px;
}

.alert{
    padding: 5px,10px;
    margin: 15px;
    border: solid 1px;
}

.alert p{
    margin: 0;
    font-size: 13px;
    padding: 5px 10px ;
}

.alert-warring ,.alert-warring p{
    border-color: #d32f2f;
    background:#f5dede ;
    color: #d32f2f;
}
.alert-danger ,.alert-danger p{
    border-color: #ef9100;
    background:#ffedd0 ;
    color: #ef9100;
}
.alert-success ,.alert-success p{
    border-color: #89c753;
    background:#e2f0da ;
    color: #689f38;
}


/*
    紅色: #d32f2f
    橙色: #ef9100 
    綠色: #689f38
*/