div {background-color: pink;}
h1{ background-color: rgb(216, 104, 104);}
h2{ background-color: rgb(160, 50, 50);}
h3{background-color: rgb(127, 207, 181);}
p{background-color: coral;}

h1,h2,h3,p{
    display: inline;
    width: 500px;
}

a{
    /* display: block; */
    background-color: cyan;
}

span{
    /* display: block; */
    /* width: 130px; */
    background-color: darkgray;
}

img {
    /* display: inline-block;  行內區塊*/
    width: 200px;
}
a,span{display: block;}

