@charset "UTF-8";
/* Helper ----------------------------- */

.container {
	width: 1200px;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.clearFix::after {
	content: '';
	display: block;
	clear: both;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

/* Reset ------------------------------- */

*, *::before, *::after {
	box-sizing: border-box;
}

body, ul {
	padding: 0;
	margin: 0;
}

body {
	font-family: '微軟正黑體';
	font-size: 15px;
}

ul {
	list-style-type: none;
}

/* Module ----------------------------- */

.pic__item {
	float: left;
	width: 25%;
	padding: 15px;
}

.pic__item:first-child {
	width: 50%;
}

.pic__mask {
	position: relative;
	display: block;
	text-decoration: none;
	overflow: hidden;
}

.pic__mask::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
}

.pic__mask:hover .pic__intro {
	bottom: 0;
}

.pic__mask:hover .pic__img {
	transform: scale(1.2);
}

.pic__mask:hover::after {
	opacity: .5;
}

.pic__img {
	width: 100%;
	height: auto;
	display: block;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
}

.pic__intro {
	position: absolute;
	bottom: -50px;
	left: 0;
	z-index: 1;
	width: 100%;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
}

.pic__spec, .pic__desc {
	color: #fff;
}

.pic__brand {
	color: #ddd;
	margin: 0 10px;
	font-style: italic;
	font-size: 18px;
}

.pic__spec {
	margin: 0 10px 15px;
	font-size: 16px;
	font-weight: 600;
}

.pic__desc {
	height: 35px;
	margin: 10px;
}


@media screen and (max-width:1200px)
{
	.container{
		width: auto;
	}
	.row{
		margin-left: 0;
		margin-right: 0	;
	}

}

@media screen and (max-width:480px)
{
	.pic__ls{padding: 5px;}
	.pic__item{width: 50%;padding: 5px;}
	.pic__item:first-child{width: 100%;}
}