@charset "utf-8";

.img-normal,
.img-rounded,
.img-circle,
.img-thumb {
    display: inline-block;
    overflow: hidden;
}

.img-resp {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-rounded {
    border-radius: 6px;
}

.img-circle {
    border-radius: 50%;
}

.img-thumb {
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.hover-ovl,
.hover-scale {
    position: relative;
}

.hover-ovl::after,
.hover-scale::after {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.hover-ovl i {
    display: none;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -38px;
    font-size: 5em;
    color: #fff;
}

.hover-ovl:hover::after,
.hover-ovl:hover i {
    display: block;
}

.hover-scale:hover > img {
    transform: scale(1.2);
}

.hover-ovl > img,
.hover-scale > img {
    display: block;
}