body{
    font-family: '微軟正黑體';
}
.media{
    width: 700px;
    margin: 15px auto;
    padding: 15px;
    border: solid 1px #bbb;
    border-radius: 5px;
    overflow: hidden;
}

.media img{
    float: left;
    margin-right: 15px;
    border-radius: 5px;
    border: solid 1px #bbb;
}

.media h5{
    font-size: 20px;
    margin: 0;
}

.media p{
    font-size: 15px;
    line-height: 1.5;
}

/* ----------------------------------------------------------- */
.borderLine{ border: solid 1px #bbb;}
.rounded-5{ border-radius: 5px;}
.f-left{ float: left;}
.f-right{ float: right;}
.clearFix{ overflow: hidden;}
.p-15{ padding: 15px;}
.mr-15{ margin-right: 15px;}
.ml-15{ margin-left: 15px;}
.my-15{ margin-top: 15px; margin-bottom: 15px;}
.mx-auto{ margin-right: auto; margin-left: auto;}
.h1{ font-size: 40px;}
.h2{ font-size: 30px;}
.h3{ font-size: 20px;}

.item{ width: 700px;}
.title{ margin: 0;}
.desc{ font-size: 15px; line-height: 1.5;}