@charset "utf-8";

body{
    background: pink;
    background-image: url('../images/bg.png');
    background-size: 25vh;
    background-repeat: no-repeat;
    /* background-position-x: center; */
    /* background-position-y: bottom; */
    /* background-position: right top; */
    background-attachment: fixed;

}