@charset "utf-8";
body {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

.article {
    padding: 10px;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.article p {
    line-height: 1.7;
}

.navi {
    /* background-color: pink; */
    list-style-type: none;
    padding-left: 0;
    height: 50px;
    width: 1100px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    list-style-type: none;
}

.navi li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.navi li a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 200px;
    text-align: center;
    text-align: center;
    line-height: 40px;
    background-color: yellowgreen;
    border-radius: 3px;
}

.navi li a:hover {
    background-color: #8dbb2e;
}