@charset "utf-8";

.tips {
    position: relative;
    padding: 15px;
    width: 300px;
    background-color: #ccc;
    border-radius: 5px 0 5px 5px;
}

.tips-left::before {
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    border: solid 20px transparent;
    border-top-color: #ccc;
    border-top-width: 15px;
}