@charset "UTF-8";

body {
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  }
  .todolist__done {
    margin-top: 0.5rem;
  }
  .todolist__content {
    font-size: 19px;
    padding-right: 80px;
  }
  .todolist__delete {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
  }