@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.img__inner {
    display: flex;
    justify-content: center;
}

.img_resp{
    width: 25vw;
    display: block;
    padding: 10px;
    border: solid 1px #ddd;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.img_resp:hover{
    border-color: #000 ;
}

/* .img_resp[alt]{
    border-color: #000;
} */