@charset "UTF-8";
h1, h2, div, p, body, html, ul, ol{ margin: 0; padding: 0;}
ul, ol{ list-style: none;}
.text-center{ text-align: center;}

body{ font-size: 15px; font-family: Arial, Helvetica, sans-serif, '微軟正黑體'; background: #FBEAB6 url(../images/bg.jpg) repeat-x;}

.title { color: #fff; margin: 1em 0;}
.ai, .dw, .ps, .id, .fw{
	font-size: 1.5em; cursor:pointer; color:#FFF; margin-bottom: 10px; border-radius: 3px; line-height: 2em; padding: 0 10px;
	text-shadow: 1px 1px #333;} 
.course{ margin-bottom: 1em; width: 500px; margin: 10px auto;}
.list{ list-style:none; overflow: hidden; margin-bottom: .667em;}
.list li{ width: 50%; float: left;}
.course-con{ display: none; border-radius: 3px; padding: 10px; position:relative; background:#FFF;}
.course-con:before{ position: absolute; left: 1.5em; top: -18px; content: ''; border: solid 10px transparent; border-bottom: solid 15px #fff;}
.course-con a{ font-size: .667em; color: #c80da3;}
.course-con a:hover{ text-decoration: none;}

.ai{ background: linear-gradient(#FC0, #F60);}
.dw{ background: linear-gradient(#3F0, #090);}
.ps{ background: linear-gradient(#69F, #06C);}
.id{ background: linear-gradient(#93C, #906);}
.fw{ background: linear-gradient(#FF6, #FC0);}

