@charset "utf-8";

body {
    background-image: url(../images/bg.jpg);
    /* background-color: #000; */
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

.navi {
    padding-left: 0;
    text-align: center;
    margin-top: 200px;
    /* margin-left: auto;
    margin-right: auto; */
}

.navi li {
    display: inline;
    /* list-style-type: none; */
}

.navi a {
    padding:15px 20px;
    font-size: 25px;
    display: inline-block;
    /* height: 100px; */
    text-decoration: none;
    color: #fff;
    background-image: url('../images/overlay.png');
}
.navi span{
    display: block;
    font-size: 13px;
    text-transform:uppercase;
    color: red;
}

.navi a:hover{
    color: red;
}
.navi a:hover span{
    color: #fff;
}
