.jumbotron {
    margin: 0px;
    background-image: url("../../images/backgrod1.jpg");
    height: 280px;
    color: white;
  }

.nav-item {
    margin-left: 10px;
  }
  
  nav link {
    color: #ffffff;
  }
  
  .dropdown-menu {
    right: 30px;
  }
  
  .dropdown-menu a:hover {
    background-color: #aaa;
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
  }
  