@charset "utf-8";
*{
  font-family: Arial, "微軟正黑體", Helvetica, sans-serif;
}
img {
  padding-top: 20px;
}

.col-sm-12 img {
  height: 12%;
}

/* .col-lg-10 img {
  height: 13%;
  width: 100%;
} */

.table {
  border-collapse: collapse;
  border-spacing: 0;
}

.thead {
  background: #aaa;
  color: #fafafa;
}

.container {
  margin: 50px;
  background-color: rgb(255, 255, 255, .5);
  border-radius: .5%;
}

.col-sm-12 {
  height: 50%;
}


p {
  font-size: 18px;
  /* word-spacing:5px; */
  letter-spacing: 1px;
}

.font-seting li {
  font-size: 20px;
}

.font-seting img {
  display: block;
  margin: auto;
  width: 45%;

}

.highlighter-rouge {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: .90em;
  background: #fafafa;
  border: 1px solid #f2f3f3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}