@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

.img-resp {
    width: 100%;
    height: auto;
    display: block;
}

.mask {
    overflow: hidden;
}

body {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    background-color: #eee;
}

.adv {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.adv__ls {
    padding-left: 0;
    list-style-type: none;
}

.adv__item {
    float: left;
    width: 33.33333%;
    padding: 15px;
    margin-right: -1px;
    margin-bottom: -1px;
    border: solid 1px #ccc;
    background-color: #fff;
}

.adv__item h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 25px;
}

.adv__item p {
    line-height: 1.5;
}

.adv__item .mask {
    height: 258px;
}

.adv__item .img-resp {
    margin-bottom: 10px;
}

.adv__move {
    transition: all .3s ease;
}

.adv__item:hover .adv__move {
    margin-top: -258px;
}

.btn {
    display: inline-block;
    padding: .5em 1em;
    text-decoration: none;
    border-radius: 5px;
}

.btn-peace {
    color: #fff;
    background-color: #0288d1;
}

.btn-peace:hover {
    background-color: #0076b6;
}