@charset "utf-8";


li{
    color: #bbbbbb;
}

ul{
    color: rosybrown;
}


ul li{
    color: coral;
}

ul .text1{
    color: #000;
}

.text1{
    color:red ;
    /* !important; */
}

html .text1 {
    color: darkgoldenrod;
}

body .text1{
    color: #80c;
}

