a{ color: #58D68D;}
.sub-menu,
.current-menu-item a,
.navi .menu > li > a:hover,
.sub-menu{ background-color: #4ab075;}

.branding-wrap,
.sub-menu a:hover,
.tab-bi .is-tab-active,
.tab-bi .is-tab-active:hover{ background-color: #58D68D;}

.sub-menu{ border: solid 1px #419b67;}