a{ color: #26C6F8;}
.sub-menu,
.current-menu-item a,
.navi .menu > li > a:hover,
.sub-menu{ background-color: #0da4d3;}

.branding-wrap,
.sub-menu a:hover,
.tab-bi .is-tab-active,
.tab-bi .is-tab-active:hover{ background-color: #26C6F8;}

.sub-menu{ border: solid 1px #147b9b;}