@charset "utf-8";
.box {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #ccc;
}

.box__item {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-family: sans-serif;
    background-color: yellowgreen;
    transition: width 2s;
}

.box:hover .box__item {
    width: 1000px;
}

.box__item1{
    transition-timing-function: linear;
}
.box__item2{
    transition-timing-function: ease;
}
.box__item3{
    transition-timing-function: ease-in;
}
.box__item4{
    transition-timing-function: ease-out;
}
.box__item5{
    transition-timing-function: ease-in-out;
}
.box__item6{
    transition-timing-function: step-start;
}
.box__item7{
    transition-timing-function: step-end;
}
