@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

.list ,.list_1{
    list-style-type: none;
    background-color: pink;
}

.list{
    display: flex;
}

.list li,.list_1 li{
    width: 60px;
    height: 40px;
    background-image: url('../images/flag.png');
    margin: 10px;
    font-size: 0;
}

.de{background-position-y: 0 0;}
.fr{background-position-y: 40px;}
.jp{background-position-y: 80px;}
.kr{background-position-y: 120px;}
.tw{background-position-y: 160px;}
.us{background-position-y: 200px;}
.cn{background-position-y: 240px;}
.uk{background-position-y: 280px;}

.de_1{background-position:0 0;}
.fr_1{background-position:0 -40px;}
.jp_1{background-position:0 -80px;}
.kr_1{background-position:0 -120px;}
.tw_1{background-position:0 -160px;}
.us_1{background-position:0 -200px;}
.cn_1{background-position:0 -240px;}
.uk_1{background-position:0 -280px;}

