@charset "utf-8";

*,
*::before,
*::after {
	box-sizing: border-box;
}

.clearFix::after {
	content: "";
	display: block;
	clear: both;
}

.container {
	width: 960px;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.img-resp {
	display: block;
	width: 100%;
	height: auto;
}

body {
	background-color: #eee;
	font-family: Arial;
}

.slider {
	position: relative;
	padding: 15px;
	background-color: #fff;
}

.switch__ls {
	position: absolute;
	left: 25px;
	bottom: 25px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.switch__item {
	float: left;
	margin-right: 15px;
	padding: 7px 10px;
	line-height: 1;
	color: #fff;
	background-color: rgba(0,0,0,.5);
	cursor: pointer;
}

.switch__item:hover {
	background-color: #000;
}

.slider__prev,
.slider__next {
	position: absolute;
	top: 50%;
	margin-top: -23px;
	width: 30px;
	height: 47px;
	text-indent: -9999px;
	background-image: url("../images/arrow.png");
}

.slider__prev {
	background-position: -30px 0;
	left: 20px;
}

.slider__next {
	background-position: 0 0;
	right: 20px;
}
