@charset "utf-8";
body {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

.img-resp {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.base {
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-stripe {
    background-color: #eee;
}

.base__figure {
    text-align: right;
}

.base-flip .base__text {
    order: 2;
}

.base-flip .base__figure {
    order: 1;
    text-align: left;
}

.base__child {
    width: 50%;
}

.base__title, .base__desc {
    margin: 0 0 1rem;
}

.base__title {}

.base__desc {}

.base__desc--lg {
    font-size: 3em;
}

.base__desc--md {
    font-size: 2em;
}

.base__desc--sm {
    font-size: 1em;
}