@charset "utf-8";

/* Helper -------------------------------------- */
.clearFix::after{
	content: "";
	display: block;
	clear: both;
}

.img-resp {
	display: block;
	width: 100%;
	height: auto;
}

.container {
	width: 1200px;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.js-text-danger {
	color: #eb3f20;
}

.js-text-success {
	color: #1da11b;
}

.js-text-primary {
	color: #009fe8;	
}

.js-text-cancel {
	color: #aaa;
}

/* Reset -------------------------------------- */
h2, h3, ul, li{ padding: 0; margin: 0;}
ul { list-style-type: none;}
body{
	font-size: 15px;
	font-family:  Arial, Helvetica, "儷黑 Pro", "微軟正黑體", "細明體", sans-serif;
}

.title__inner {
	margin-bottom: 60px;
	text-align: center;
}

.title{
	font-size: 50px;
	letter-spacing: 20px;
    color: #000;
}

/* Module ---------------------------------------- */
.glbl {
	position: relative;
}

.glbl__item {
	position: absolute;
	width: 200px;
	background-color: rgba(255,255,255,.7);
	border: solid 1px #ddd;
}

.glbl__item--de { top: -19px; left: 564px;}
.glbl__item--fr { top: 132px; left: 307px;}
.glbl__item--jp { top: 172px; right: 13px;}
.glbl__item--kr { top: 31px; right: 68px;}
.glbl__item--tw { top: 233px; right: 229px;}
.glbl__item--us { top: 160px; left: 0;}
.glbl__item--cn { top: 159px; right: 445px;}
.glbl__item--uk { top: -19px; left: 308px;}

.glbl__head,
.glbl__body {
	margin: 10px;
}

.glbl__title{
	float: left;
	width: 60px;
	height: 40px;
	text-indent: -9999px;
	background-image: url("../images/flag.png");
}

.glbl__date {
	font-size: 14px;
	font-style: italic;
	color: #666;
}

.glbl__result {
	margin-top: 5px;
}

.glbl__item--de .glbl__title { background-position: 0 0;}
.glbl__item--fr .glbl__title { background-position: 0 -40px;}
.glbl__item--jp .glbl__title { background-position: 0 -80px;}
.glbl__item--kr .glbl__title { background-position: 0 -120px;}
.glbl__item--tw .glbl__title { background-position: 0 -160px;}
.glbl__item--us .glbl__title { background-position: 0 -200px;}
.glbl__item--cn .glbl__title { background-position: 0 -240px;}
.glbl__item--uk .glbl__title { background-position: 0 -280px;}

.glbl__status {
	float: right;
	text-align: right;
}

.glbl__dt {
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	color: #666;
}

.glbl__dt ~ .glbl__dt {
	padding-top: 7px;
	margin-top: 5px;
	border-top: solid 1px #ddd;
}

.glbl__dd {
	margin: 0;
	font-weight: 600;
}

.glbl__price {
	font-size: 16px;
}

.glbl__ing {
	font-size: 12px;
	font-style: italic;
}