@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.img-resp {
    width: 25%;
    display: block;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
}

.img-resp:hover {
    background-color: hotpink;
}

.img__inner {
    display: flex;
    justify-content: center;
}