@charset "utf-8";

.box {
    width: 200px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.box {
    transition: all 3s ease;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
}

.box {
    transform: rotate(40deg) scaleX(2);
    -webkit-transform: rotate(40deg) scaleX(2);
    -moz-transform: rotate(40deg) scaleX(2);
    -ms-transform: rotate(40deg) scaleX(2);
    -o-transform: rotate(40deg) scaleX(2);
}